<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <div class="text-center top_text">
    <h1>Stock-Note(プロトタイプ)</h1>
    <h3>〜 脱、イナゴ投資家 <br>最強の個人投資家を目指して‼︎ 〜</h3>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="thumbnail top_text">
        <div class="line_header">
          <h3>このアプリに関して</h3>
        </div>
        <p>保有株の記録と選定銘柄の候補の記録を残すことができます。<br>
          株価は当日の終値を17時に反映されます。（*リアアルタイム更新ではありません）<br>
          『この株は上がる！』、『あの会社の経営が悪い！』という煽り情報だけを鵜呑みにして損をしてしまうイナゴ投資家。<br>
          売り買いの理由を決めていないため、投資がうまくいかない個人投資家。<br>
          中〜長期投資家にも向いているアプリです。<br>
        </p>
      </div>
    </div>
  </div>
</div>
