<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <div class="text-center top_text">
    <h1>Stock-Note(アルファ版)</h1>
    <h3>〜 負けない投資家を目指して‼︎ 〜</h3>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="thumbnail top_text">
        <div class="line_header">
          <h3>このアプリに関して</h3>
        </div>
        <p>保有株の記録と選定銘柄の候補の記録を残すことができます。<br>
          株価は当日の終値を17時に反映されます。<br>（*リアアルタイム更新ではありません。また、努力義務で行います。）</p>
        <p>売り買いの理由を決めていないため、投資がうまくいかない個人投資家。<br>
          中〜長期投資家にも向いているアプリです。</p>
      </div>
    </div>
  </div>
</div>
