<section class="main-header">
<p class="flash"><%= notice %><%= alert %></p>
<div class="text-center top_text">
<h1>Stock-Note</h1>
</div>
</section>
<p></p>
<p></p>
<p></p>
    </div>
  </div>
</div>
