// Place all the styles related to the positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pie_chart {
  width: 100px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
}

.canvas {
  width: 20%;
}
