// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
  width: 100%;
  background-color: #0d61a9;
  height: 54px;
}

.navbar-header .navbar-brand  {
  color: white;
}
.navbar-default {
background-color: #0d61a9;
border-color: #0d61a9;
}

.navbar-default .navbar-nav > li > a {
color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: gray;
background-color: transparent;
}


.drop_menu {
  background-color: #0d61a9;
  z-index: 1000;
}
.drop_menu ul {
  background-color: #0d61a9;
  z-index: 1000;
}
.drop_menu li {
  background-color: #0d61a9;
  z-index: 1000;
}

body {
  margin-bottom: 5em;
}

footer {
  width: 100%;
  color: white;
  background-color: #0d61a9;
  padding:20px 0 10px 0;
  text-align: center;
  margin: auto;
  bottom: 0;
  position: absolute;

}

html {
  min-height: 100%;
  position: relative;
}

li {
  list-style: none;
}

.top_list {
  background-color: #0d61a9;
  float: left;
  width: 100%;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.top_list li {
  float: left;
  width: auto;
  font-size: 16px;
}

.top_list li a{
  color: white;
  display: block;
  padding: 10px;
}

.top_list li a:hover {
  color: gray;
}

.login_form {
  margin: 20px 0px;
  padding-bottom: 10px;
}

.line_header{
  border-bottom: 4px solid #0d61a9;
  margin-bottom: 20px;
}

.noline_header{
  margin-bottom: 20px;
}

.position_add{
  margin-bottom: 10px;
}

.center_line {
  text-align: center;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.pie_chart{
  margin-bottom: 20px;
}

.flash {
 padding-top: 10px;
 margin: 0px;
 text-align: center;
}

.main-header {
 padding-bottom: 15%;
 width: 100%;
 background-size: cover;
 background-image: image-url("header01.jpg");
 background-attachment: fixed;
}

.main-header img {
 display: block;
 margin: 0 auto;
 width: 25%;
 padding-top: 15%;
}

.top_text {
  margin: 10px;
}

.csv_button {
  margin: 0px 0px 20px 0px;
  font-size: 5;
}
